@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #14171a;
  --secondady-color: #f5f5f5;
}
html {
  transition: all 0.5s ease;
}

body {
  font-family: 'Maven Pro';
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  margin-top: 3rem;
  background: linear-gradient(to right, #e22865, #37adcd);
  align-items: flex-start;
  /* height: auto; */
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  /* background-color: crimson; */
  /* color: #fff; */
  border: none;
  border-radius: 3px;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  background-color: blueviolet;
  color: #fff;
  z-index: 989;
  transition: all ease-out 0.3s;
}
.add:hover {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.3);
}
.add:active {
  transform: scale(0.96);
}

.shadow {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.3);
}

.bg-black {
  background-color: red !important;
}

.black {
  color: black;
}
.white {
  color: white;
}

.note {
  background-color: #14171a;
  color: #a9bacb;
  margin: 10px 10px;
  min-height: 400px;
  min-width: 400px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.4);
  transition: all ease-out 0.3s;
  overflow: hidden;
  border: none;
  z-index: 8;
  /* cursor: move; */
  animation: explode 0.4s ease-out;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.note:hover {
  box-shadow: 2px 4px 10px 4px rgba(255, 255, 255, 0.4);
}

.note .tools {
  /* background-color: #9ec862; */
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  color: white;
  border: none;
}
.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  background-color: #8fa1b2;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  min-height: 400px;
  width: 100%;
  padding: 20px;
  border: none;
  margin-block: 0;
  color: #181d20;
}
.main {
  padding: 20px;
  border: none;
}

.hidden {
  display: none;
}
.title {
  font-size: 78px;
  letter-spacing: 1.2px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  opacity: 0.5;
}

h1,
h2,
h3 {
  color: #df80ff;
}

code {
  color: #70bf53;
  font-size: 14px;
  font-family: 'Fira Code', Cousine;
}

.active {
  background-color: #888 !important;
}

@keyframes explode {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
